# Laravel
/bootstrap/compiled.php
/vendor
.env
.env.local
.env.staging
.env.production
.env.php

# Assets
/public/error_log
/public/images/upload
/resources/assets/vendor
/resources/assets/build
/public/assets/dist/css/gluii.css
/public/assets/dist/js/gluii.js

# OS
.DS_Store
/.idea
/vagrant
.vagrant
Thumbs.db

# Packages
_ide_helpers.php
/app/config/templates

# Node.js / Gulp / Bower
/bower_components
/node_modules
npm-debug.log