/*
 * Template Setup
 */
body{color:#333;}
.app:before {background-color: #fff;}

/* Header */
.app-header {
	z-index: 3000;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
}
body.app-header-fixed {
	padding-top: 0;
}
.app-header-fixed {
	padding-top: 50px;
}

/* Content Container */
.app-content {
	background: #e9eaed;
}
.app-content-body {
	z-index: 2000;
}
/* Footer */
.app-footer {
	z-index: 4000;
}

/* -----------------------------------
| Directly Modifying Theme
----------------------------------- */
.no-radius {border-radius:0!important;}

/* -----------------------------------
| Navigation
----------------------------------- */
.container>.navbar-header {
	z-index: 2;
}
/* Top of Content Navs */
.nav-content {
	border-bottom: 0;
}

/* -----------------------------------
| Text & Colors
----------------------------------- */
a {color: #428bca;}
/* Nav Links */
.nav > li > a {color: #363f44;}

.text-underline-none {text-decoration: none;}
.text-underline-none:hover {text-decoration: none;}

/* -----------------------------------
| Icons
----------------------------------- */
/* i.icon in lists */
ul > li i.icon {
  vertical-align: -1px;
}
.btn.btn-link:hover,
.btn.btn-link:focus {text-decoration: none;}

/* -----------------------------------
| Panels
----------------------------------- */

/* Panel Title - Icon */
.panel-title>.fa,
.panel-title>.glyphicon,
.panel-title>.icon {
	min-width: 25px;
	margin-right: 8px;
	border-right: 1px solid #ddd;
	color: #a87fc6;
	font-size: 16px;
	top: 2px;
}

/* -----------------------------------
| Images
----------------------------------- */
.img-full {width: auto;max-width: 100%;height: auto;}

/* -----------------------------------
| Air (position absolute)
----------------------------------- */
.air {position:absolute;z-index:5}
.air-bottom {bottom:0}
.air-top {top:0}
.air-top-right {top:0;right:0}
.air-top-left {top:0;left:0}
.air-bottom-left {bottom:0;left:0}
.air-bottom-right {bottom:0;right:0}

/* -----------------------------------
| User Profile - Cover Photo
----------------------------------- */

/* Cover Photo */
.cover-photo {
	height: 250px;
	position: relative;
	overflow: hidden;
	display: block;
}
.cover-photo > img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* -----------------------------------
| User Profile - Profile Picture
----------------------------------- */

/* Profile Picture */
.profile-pic-container {
	position: absolute;
	display: block;
	z-index: 2;
	border: 5px solid #fff;
	bottom: -40px;
	left: 35px;
	border-radius: 0;
	width: 170px;
	height: 170px;
	text-align: center;
}
.profile-pic {position: relative;display: block;z-index: 3;width: 100%;height: 100%;}
.profile-pic > img {width: 100%;height: 100%;}
.profile-name {margin-left: 200px;margin-top: 10px;}

/* Change Photo Button */
.profile-pic > .btn-change-photo {
	position: absolute;
	margin: 0 auto;
	display: none;
	opacity: 0;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 3;
	text-align: center;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: opacity;
	transition-timing-function: linear;
}
.profile-pic-container:hover .btn-change-photo {
	display: inline-block;
	opacity: 1;
}

/* -----------------------------------
| User Profile - Friends Lists
----------------------------------- */
.userprofile-sidebar-list > div {}
.userprofile-sidebar-list a {
	display: block;
	position: relative;
}
.userprofile-sidebar-list img {
	max-width: 100%;
	height: auto;
	border:1px solid #fff;
}
.userprofile-sidebar-list a > div {
	display: block;
	position: absolute;
	background: #000;
	background: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, .6)));
	background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .6));
	left: 0;
	bottom: 0;
	width: 100%;
	word-wrap: break-word;
	color: #fff;
}
.userprofile-sidebar-list a > div > span {
	margin: 5px;
	display: block;
	text-shadow: 1px 1px rgba(0, 0, 0, .7);
}
.profile-link-btn {
	color:#999;
	font-size:14px
}

/* Date Badge */
time.icon {font-size: 14px;display: block;position: relative;width: 35px;height: 43px;background-color: #fff;margin: 3px auto;border-radius: 7px;box-shadow: 0 1px 0 #bdbdbd,0 2px 0 #fff,0 3px 0 #EEE9E9,0 4px 0 #fff,0 5px 0 #FFF,0 0 0 1px #D3D3D3;overflow: hidden;}
time.icon strong {position: absolute;top: 0;padding: 2px 0;color: #fff;background-color: #3a3633;-webkit-box-shadow: 0 2px 0 #3a3633;box-shadow: 0 2px 0 #3a3633;border-radius: 6px 6px 0 0;}
time.icon span {width: 100%;font-size: 15px;letter-spacing: -.05em;padding-top: 21px;color: #2f2f2f;}
time.icon * {display: block;width: 100%;font-size: 10px;font-weight: 700;font-style: normal;text-align: center;}

/* -----------------------------------
| User Profile - Timeline
----------------------------------- */
.timeline-seperator{display:block;text-align:center;color:#999;margin:20px 0 0;}
.timeline-seperator>:first-child{padding:4px 5px;border:1px dashed rgba(0,0,0,.1);background:#fff;font-size:11px;border-radius:4px;}
.timeline-seperator .btn,.timeline-seperator .btn+.dropdown-menu{margin-right:15px;}
.timeline-seperator:after{display:block;content:" ";margin:0 20px;border-bottom:1px dashed rgba(0,0,0,.1);margin-top:-8px;}

/* User List */
.user-list-item {
	margin-bottom: 15px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.user-list-item img {
	float: left;
	width: 35px;
	margin-right: 5px;
}

/* -----------------------------------
| Statuses & Comments
----------------------------------- */
.panel.panel-status > .panel-body {padding-bottom:0;}
.panel.panel-status .panel-footer {background-color: #f8f8f8;}
.status-reply {overflow:hidden;word-wrap:break-word;padding-left: 5px;position:relative;}
.status-reply > input {position:relative;}
/* Status List Item */
.panel.panel-status ul.list-group > li.list-group-item {
	padding: 4px 0;
	word-wrap: break-word;
	line-height: 1.28;
}
.panel.panel-status ul.list-group > li.list-group-item:first-child {
	border-top: 1px solid #edf1f2;
}

/* -----------------------------------
| Utilities
----------------------------------- */

/* Borders */
.b-none {border: none!important;}
.b-t-none {border-top: none!important;}
.b-r-none {border-right: none!important;}
.b-b-none {border-bottom: none!important;}
.b-l-none {border-left: none!important;}


/* -----------------------------------
| Media Queries
----------------------------------- */
@media (max-width:979px) {
	.profile-pic > img {width:110px}
	.profile-pic {float:left}
	.profile-pic > img {margin-right:10px}
	.profile-pic + div,
	.profile-pic + div + div {padding-left:30px;padding-right:30px}
}
@media (max-width:767px) {
	.profile-pic > img {width:100px}
}
@media (min-width: 768px) {
	/* Aside - Left */
	.app-aside-left {
		position: absolute;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 3000;
	}
	/* Aside - Right */
	.app-aside-right {
		z-index: 2000;
	}
	.app-aside-fixed .app-aside-right .aside-wrap {
		right: 0;
		left: auto;
	}
	.app-content,
	.app-footer {
		margin-left: auto;
		margin-right: auto;
	}
	.app-aside-fixed .app-header .navbar-header {
		position: relative;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {margin-left: 0;}
}
@media only screen and (min-width:320px) and (max-width:479px) {
	.page-title {display:none}
	.profile-pic {text-align:left}
	.profile-pic > img {width:90px;margin-left:0;top:-25px;margin-right:0}
	.profile-pic + div > h1 {font-size:20px}
	.profile-pic + div > h1 small {font-size:16px}
	.profile-carousel .carousel-indicators {top:10px}
}
@media only screen and (min-width:0) and (max-width:679px) {
	.profile-pic > img {width:90px}
}